{% extends '../base.html' %}

{% block title %}
    blog_xtg - {% block title2 %}欢迎来到blog_xtg管理平台！{% end %}
{% end %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-2 entry-box" >
            <ul class="nav nav-list">
				<li class="nav-header">博文管理</li>
				<li><a href="{{ reverse_url('admin.article.action', 'submit') }}">发表博文</a></li>
				<li><a href="{{ reverse_url('admin.manage_articles') }}">管理博文</a></li>
				<li><a href="{{ reverse_url('admin.articleTypes') }}">博文分类</a></li>

				<li class="nav-header">评论管理</li>
				<li><a href="{{ reverse_url('admin.manage_comments') }}">博文评论</a></li>

                <li class="nav-header">博客定制</li>
				<li><a href="{{ reverse_url('admin.custom.blog_info') }}">基本信息</a></li>
				<li><a href="{{ reverse_url('admin.custom.blog_plugin') }}">插件管理</a></li>
				<li><a href="{{ reverse_url('admin.custom.plugin.action', 'add') }}">添加插件</a></li>

				<li class="nav-header">其它管理</li>
				<li><a href="{{ reverse_url('admin.account') }}">用户账户</a></li>
				<li><a href="{{ reverse_url('admin.help') }}">帮助</a></li>
			</ul>
        </div>
        <div class="col-md-10">
            {% if handler.has_message() %}
                {% for message in handler.read_messages() %}
                <div class="alert alert-{{ message['category'] }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message['message'] }}
                </div>
                {% end %}
            {% end %}
            {% block admin_content %}
            {% end %}
        </div>
    </div>
</div>
{% end %}

{% block script %}
    <script src="{{ static_url('js/admin.js') }}"></script>
    {% block private_script %}
    {% end %}
{% end %}
